{% extends 'base.html.twig' %}

{% block title %}Hello RessourcesController!{% endblock %}

{% block body %}
<form>
<div class="w-25 p-3">
<div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Entrez un mot clé" value="{{search}}" required />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Rechercher</button>
        </div>
    </div>
</div>
</form>

{% if articles|length == 0 %}
    <div>Aucun article qui répond au critère "{{search}}" de recherche données</div>
{% endif %}

<div>
    <ul>
    {% for article in articles %}
        <li><a href="{{ path('itemRessource', { 'id': article.id }) }}">{{article.titre}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
