{% extends 'base.html.twig' %}

{% block title %}Hello RessourcesController!{% endblock %}

{% block body %}

<form>
    <input type="text" name="search" id="search" placeholder="Entrez un mot clé" value="{{search}}" required />
    <input type="submit" value="Rechercher"/>
</form>

{% if articles|length == 0 %}
    <div>Aucun article qui répond aux critères de recherche données</div>
{% endif %}
<div>
    <ul>
    {% for article in articles %}
        <li><a href="{{ path('list', article.id) }}" >{{article.titre}}</a></li>  
    {% endfor %}
    </ul>
</div>
{% endblock %}
