{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
	#test{
		margin-top: 15%;
		text-align: center;
		color: #264653;
		font-family: serif;
	}
	</style>

<h1 id="test">Ecole Universelle Station 51</h1>
		<div class="container">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Recherche">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="button">Rechercher</button>
				</div>
			</div>
		</div>

{% endblock %}
